{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js"] }],
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": 0,
    "react/jsx-wrap-multilines": "off"
  },
  "env": {
    "browser": true
  }
}