.birthdayInput {
  composes: input from '../../common.module.css'; 
  margin-top: 10px;
}

.calendarIcon {
  height: 20px;
  float: right;
}

.birthdayInputTitle {
  color: tblue;
}

.birthdayInputValue {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}